@model WFS.Contract.PhoneAddress
        <div class="row">
            <div class="twelve columns">
                Address Line 1
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                @Html.TextBoxFor(x => x.Address1)
            </div>
        </div>
        <div class="row p_t5">
            <div class="twelve columns">
                Address Line 2
            </div>
        </div>
        <div class="row">
            <div class="twelve columns end">
                @Html.TextBoxFor(x => x.Address2)
            </div>
        </div>
        <div class="row p_t5">
            <div class="six columns">
                City
            </div>
            <div class="three columns">
                State
            </div>
            <div class="three columns">
                Zip Code
            </div>
        </div>  

        <div class="row">
            <div class="six columns">
                @Html.TextBoxFor(x => x.City)
            </div>
            <div class="three columns">
                @Html.TextBoxFor(x => x.State)
            </div>
            <div class="three columns">
                @Html.TextBoxFor(x => x.ZipCode)
            </div>
        </div>  
        <div class="row p_t5">
            <div class="six columns">
                Phone Number
            </div>
            <div class="three columns end">
                Ext.
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                @Html.TextBoxFor(x => x.PhoneNumber)
            </div>
            <div class="three columns end">
                @Html.TextBoxFor(x => x.PhoneExt)
            </div>
        </div>  
