@model WFS.WebSite4.Areas.Customer.Models.OrderProfileViewModel

@if (Model.Profiles.Count <= 0)
{
    <div class="row">
        <div class="eleven columns push one">
            Before you can place an order, please create an order profile so we know who you are ordering for.
        </div>
    </div>        
}


@foreach (var item in Model.Profiles)
{
    <div class="panel">
        <div class="row">
            <div class="twelve columns">
                <div class="five columns">
                   @String.Format("{0}, {1}", item.LastName, item.FirstName)
                </div>
                <div class="five columns">
                   @item.OrganizationName
                </div>
                <div class="one columns">
	                <a href="javascript:void(0)" msclick="customerprofile.showEditProfile"  data-id="@item.OrderProfileId">Edit/View</a>
                </div>
                <div class="one columns">
	                <a href="javascript:void(0)" msclick="customerprofile.deleteProfile"  data-id="@item.OrderProfileId" data-userId="@item.UserId", data-name="@String.Format("{0}, {1}", item.LastName, item.FirstName)">Delete</a>
                </div>
            </div>
        </div>
    </div>
}