@model WFS.WebSite4.Areas.Customer.Models.OrderProfileAddEditModel

<fieldset class="p_t5">
    <legend>Profile Information</legend>

    <div class="row p_t10">
    Enter the name of the person you wish to order for (use your own name if you will be ordering for yourself)
    </div>

    <div class="row p_t20">
        <div class="five columns">
            <div class="row">First Name: (required)</div>
            <div class="row">
                @Html.TextBoxFor(x => x.Profile.FirstName, new {@id="txtFirstName" })
            </div>
        </div>
        <div class="one columns">
        </div>
        <div class="five columns end">
            <div class="row">Last Name: (required)</div>
            <div class="row">
                @Html.TextBoxFor(x => x.Profile.LastName, new { @id = "txtLastName" })
            </div>
        </div>
    </div>

    <div class="row p_t10">
        <div class="three columns">
            <label class="right p_t5">Student Grade:</label>
        </div>
        <div class="six columns end">
            @Html.DropDownListFor(x => x.SelectedGrade, new SelectList(Model.Grades, "Value", "Text",
                                                         Model.Grades), new { @id = "ddlGradeChoice" }) 
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <label class="right p_t5">Student Teacher:</label>
        </div>
        <div class="six columns end">
            @Html.DropDownListFor(x => x.SelectedTeacher, new SelectList(Model.Teachers, "Value", "Text",
                                                         Model.Teachers), new { @id = "ddlTeacherChoice" }) 
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <label class="right p_t5">Lunch Period:</label>
        </div>
        <div class="six columns end">
            @Html.DropDownListFor(x => x.SelectedLunchPeriod, new SelectList(Model.LunchPeriods, "Value", "Text",
                                                         Model.LunchPeriods), new { @id = "ddlLunchPeriodChoice" }) 
        </div>
    </div>

</fieldset>


