@model WFS.WebSite4.Models.LoginModel
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl })) {
        <h2 class="">Please login below</h2>
	    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
        </ol>
    
        <div class="row">
            <div class="four columns">
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
            <div class="three columns end">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>  

        <input type="submit" class="medium success button" value="Log in" />
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
