@model WFS.WebSite4.Models.RegisterModel

@{
    ViewBag.Title = "Create a new account";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@Html.ValidationSummary()

<form id="newRegistrationForm"  method="post"> 

    <fieldset>
        <legend>Registration Information</legend>
        <div class="row">
            <div class="two columns">
                <label class="right inline">First Name:</label>
            </div>
            <div class="four columns">
                @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div class="two columns">
                <label class="right inline">Last Name:</label>
            </div>
            <div class="four columns end">
                @Html.TextBoxFor(m => m.LastName)
            </div>
        </div>
        <div class="p_t5 row">
            <div class="two columns">
                <label class="right inline">Email Address:</label>
            </div>
            <div class="four columns">
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="two columns">
                <label class="right inline">Password:</label>
            </div>
            <div class="four columns">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="two columns push eight">
                <label class="right inline">Confirm Password</label>
            </div>
            <div class="four columns end">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>Address Information</legend>
			@{Html.RenderPartial("AddressInfo",		
					Model.AddressInfo, 
					new ViewDataDictionary(Html.ViewDataContainer.ViewData) { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "AddressInfo" } });}

    </fieldset>
</form>

<div class="row">
	<div class="right">
		<a href="#" id="save-link" msclick="home.createAccount" class="radius button">Create Account</a>&nbsp;&nbsp;&nbsp;
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
