@model WFS.WebSite4.Models.RegisterModel

@{
    ViewBag.Title = "Update Account Info";
}

<div id="updateMessagePanel"></div>
<div id="passwordMessagePanel"></div>

<fieldset>
    <legend>Update Profile Information</legend>
    <form id="accountInfoForm"  method="post">
        <div class="row p_l20">
            <div class="one columns">
                <label class="right inline">First Name:</label>
            </div>
            <div class="four columns">
                @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div class="two columns">
                <label class="right inline">Last Name:</label>
            </div>
            <div class="four columns end">
                @Html.TextBoxFor(m => m.LastName)
            </div>
        </div>

			@{Html.RenderPartial("AddressInfo",		
					Model.AddressInfo, 
					new ViewDataDictionary(Html.ViewDataContainer.ViewData) { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "AddressInfo" } });}
    </form>
    <div class="row">
	    <div class="right">
		    <a href="#" id="save-link" msclick="home.updateAccountInfo" class="radius button">Update Account</a>&nbsp;&nbsp;&nbsp;
	    </div>
    </div>
</fieldset>


<form id="passwordForm"  method="post">
   <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)                
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)                
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>

</form>



@using (Html.BeginForm()) {
    @Html.ValidationSummary()

 }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
