@model WFS.WebSite4.Models.SupportTicketNewModel

<h2>New Suport Ticket</h2>
<form id="newSupportForm"  method="post"> 

    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Contact Information</legend>
    
        <div class="row">
            <div class="two columns">
                <label class="right inline">Name:</label>
            </div>
            <div class="five columns">
                @Html.TextBox("FirstName", Model.FirstName, new { placeholder="First Name" })
            </div>
            <div class="five columns end">
                @Html.TextBox("LastName", Model.LastName, new { placeholder = "Last Name"})
            </div>
        </div>
        <div class="row p_t10">
            <div class="two columns">
                <label class="right inline">Email:</label>
            </div>
            <div class="ten columns">
                @Html.TextBox("EmailAddress", Model.EmailAddress, new { placeholder="Email Address" })
            </div>
        </div>            
        <div class="row p_t10">
            <div class="two columns">
                <label class="right inline">Phone:</label>
            </div>
            <div class="five columns end">
                @Html.TextBox("ContactPhone", Model.ContactPhone, new { placeholder="Phone Number" })
            </div>
        </div>   
        <div class="row">
        </div>

    </fieldset>

        <div class="row p_t10">
            <div class="two columns">
                <label class="right inline">Category:</label>
            </div>
            <div class="five columns end">
                @Html.DropDownListFor(x => x.SelectedCategory, new SelectList(Model.Categories, "Value", "Text",
                                                     Model.Categories), new { @class = "p_t10" }) 
            </div>
        </div>      
        <div class="row p_t10">
            <label>Issue/Comment/Question: </label>

            <div class="two columns">
            </div>
            <div class="ten columns">
                @Html.TextAreaFor(x => x.IssueText, new { @class="h150px" });
            </div>
        
        </div>         
</form>

<div class="row">
	<div class="six columns"></div>
	<div class="six columns end right">
		<a href="#" id="save-link" msclick="home.saveSupportTicket" class="radius button">Save</a>&nbsp;&nbsp;&nbsp;
		<a href="#" class="close-reveal-modal radius button">Cancel</a>
	</div>
</div>