@model WFS.WebSite4.Models.SupportTicketEditModel

<div class="panel">
    <div class="row">
        <div class="three columns">
            <span class="right">First Name:</span>
        </div>
        <div class="three columns">
            @if (Model.IsNew)
                @Html.TextBoxFor(x => x.Ticket.FirstName)
            else
                @Model.Ticket.FirstName
        </div>
        <div class="three columns">
            <span class="right">Last Name:</span>
        </div>
        <div class="three columns">
            @if (Model.IsNew)
                @Html.TextBoxFor(x => x.Ticket.LastName)
            else
                @Model.Ticket.LastName
        </div>
    </div>
    <div class="p_t5 row">
        <div class="three columns">
            <span class="right">Question/Problem:</span>
        </div>
        <div class="nine columns">
            @if (Model.IsNew)
                @Html.TextAreaFor(x => x.Ticket.IssueText)
            else
                @Model.Ticket.IssueText
        </div>
    </div>
</div>
