@model WFS.WebSite4.Areas.Admin.Models.FoodOptionsListViewModel

@foreach (var item in Model.Options) {
    <div class="panel">
        <div class="row">
            <div class="eight columns">
                @item.Name
            </div>
            <div class="two columns">
                <a href="javascript:void(0)" msclick="foodOption.edit" data-id="@item.FoodOptionId">Edit/View</a>
            </div>
            <div class="one columns end">
                <a href="javascript:void(0)" msclick="foodOption.del" data-name="@item.Name" data-vendor-id="@item.VendorId" data-id="@item.FoodOptionId">Delete</a>
            </div>

        </div>
    </div>
}