@model WFS.WebSite4.Areas.Admin.Models.SchoolViewModel

@{
    ViewBag.Title = "School";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>@Model.School.Name</h2>
<div class="row">
	<div id="displayAddressPanel" class="five columns">
		@{Html.RenderPartial("DisplayAddress", Model.School);}
	</div>
	<div id="displayContactPanel" class="five columns">
		@{Html.RenderPartial("DisplayContact", Model.School);}
	</div>
	<div class="two columns" style="text-align: center">
		<a href="javascript:void(0)" msclick="school.edit" data-id="@Model.School.OrganizationId" class="button radius small">Edit</a>
		<a href="/Admin/schools" class="button radius small">Back</a>
	</div>
</div>

<fieldset>
    <legend>Additional Info</legend>
    <div class="row">
        <div class="two columns">
            <label class="right inline">Delivery Time:</label>
        </div>
        <div class="two columns end">
            <label class="inline">@Model.School.DeliveryTime.ToString()</label>
        </div>
    </div>
</fieldset>

<dl class="tabs contained">  

	<dd class="active"><a href="#gradesPanel">Grades</a></dd>
	<dd><a href="#teachersPanel">Teachers</a></dd>
	<dd><a href="#lunchPeriodPanel">Lunch Periods</a></dd>
	<dd><a href="#daysOffPanel">Days Off</a></dd>
</dl>
<ul class="tabs-content contained">
	<li class="active" id="gradesPanelTab">
        <a href="#" title="Add Grades">Add Grade</a>
	</li>
	<li id="teachersPanelTab">
        <a href="#" title="Add Teachers">Add Teacher</a>
    </li>
	<li id="lunchPeriodPanelTab">
        <a href="#" title="Add Lunch Period">Add Lunch Period</a>
    </li>
	<li id="daysOffPanelTab">
        <a href="#" title="Add Days Off">Add Day Off</a>
    </li>
</ul>
<div id="modalEdit" class="reveal-modal"></div>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/admin")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
}